.container {
  margin: 0px auto;
  padding: 2em;
  max-width: 1024px
}

.menu {
  margin-top: 4em
}

#app {
  display: inline-block;
  border: 1px #999 dashed;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  margin: 0;
}

@media screen and (max-width: 48em) {
  .menu {
    display: none;
  }
}
